<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolzAddinOutlook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToolzAddinOutlook.Properties.Settings>
            <setting name="send_opt" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="passmail_opt" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="zipfile_opt" serializeAs="String">
                <value>S</value>
            </setting>
        </ToolzAddinOutlook.Properties.Settings>
    </userSettings>
</configuration>